In [1]:
print("hello")

hello

In [2]:
print('d')

d

In [18]:
name = ('trina das adhikari')
type (name) # this is cheking string

str

In [8]:
msg = "this is a message"
msg[5]

'i'

In [19]:
print(len(msg))
print(len("debamala"))
len(name)

17
8

18

In [13]:
for i in msg :
    print(i)

t
h
i
s

i
s

a

m
e
s
s
a
g
e

In [16]:
msg.upper()

'THIS IS A MESSAGE'

In [20]:
print(len(name))
print(len(name.strip()))   # strip removes first and last spaces

18
18

In [22]:
numbers ="2,3,5,6,7,2,8"
print (numbers.split(','))

['2', '3', '5', '6', '7', '2', '8']

In [37]:
numbers="2,3,5,7,2,8"
nos= numbers.split(',')
sum = 0 
for item in nos:
    #print(item)
    sum = sum + int(item)
    #print(item,type(item),temp,int(temp))
print(sum)

27

In [45]:
name = input("enter user name")
password = input("enter the password")
print ( "your username:{} and the password enterd is:{}".format(name,password))

your username:trina  and the password enterd is: 123

In [46]:
for i in range (10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [59]:
#find the sum of n multiples of 2 where n is your input 
n = 10 
sum = 0 
for i in range (2,10+1,2):
    sum = sum + i
print(sum)

30

In [1]:
listex = ["one","two","three","four"]
print (listex)

['one', 'two', 'three', 'four']

In [2]:
print(listex[3])

four

In [6]:
listex.append("five")
print(listex)

['one', 'two', 'three', 'four', 'five', 'five', 'five', 'five']

In [7]:
listex

['one', 'two', 'three', 'four', 'five', 'five', 'five', 'five']

In [8]:
len(listex)

8

In [9]:
#sort()/reverse()
a=[3,5,6,3,0]
a.sort()
a

[0, 3, 3, 5, 6]

In [15]:
def fname():
    print ("I am your first function")
    retVal = "success"
    return retVal

In [16]:
status = fname()
status

I am your first function

'success'

In [12]:
lst = [5,8,2,10]
for item in range (0,len(lst),1):
    print( lst[item])

5
10

In [7]:
lst= [1,2,3,4]
for item in lst:
    print(item)

1
2
3
4

define a function that takes a list of numbers as input and return the sum of numbers as innput

In [24]:
def sumlist (lst):
    sum = 0 
    for item in lst :
      sum = sum + item
    return sum 
print(sumlist(lst))

25

In [26]:
sum = 0 
for item in lst:
    sum = sum + item 
print (sum )

25

In [6]:
def sumlistfn():
    sum = 0 
    #logic to sum the numbers in the list 
    for item in array :
        sum+= int (item)
    return sum 
userInput = input("enter the list of numbers separated via comma")
    #2,3,4,5,6,7
array =userInput.strip().split(',')
sum = sumlistfn()
print("sum:", sum)

sum: 16

count the number of odd and ever numbers in the list and print the odd numbers count & even numbers count along with the numbers.

In [ ]:
 
def countOdds():
    count = 0 
    for item in list :
        if item % 2!= 0 :
            count = count + 1 
    return count 
input =  ( 'enter the list of numbers')
list = input.strip().split(',')
count = countOdds(list)
print("count :", count )

In [8]:
file = open("sample.txt","w+")

In [9]:
file.write("this is my first python file")

28

In [13]:
f = open("sample.txt" , "w")

f.write("Aman")

f.close()

z = open("sample.txt","r")
print(z.read())

Aman

In [20]:
f= open("sample.txt", "w")
f.write("Trina")
f.close()
z= open ("sample.txt","r")
print(z.read())

Trina

in pytrhon that accept your details and save it into the file with your name

In [6]:
def saveDetails(file_name,email,phone):
    with open (file_name +".txt","w+") as file:
        file.write(f"my name is TRINA and my {email} and my {phone}")
        
        
saveDetails("sample","trina@1245","562368326")

take two operands and an operator and performs the calculation and give the result also solve the calculation that your program performs in a file

In [ ]:
def get_insight(file_name):
    with open(file_name + ".txt", "r") as file:
        print(file.read())


def to_order(name, price, phone_number, qty, total_guest, date, file_name):
    with open(file_name + ".txt", "a+") as file:
        total_order = 0
        total_price_order = price * qty

        file.write(f"Total Order Till Date: {total_order}")
        file.write(f"\nName: {name}")
        file.write(f"\nPhone Number: {phone_number}")
        file.write(f"\nFood Price: {price}")
        file.write(f"\nTotal qty: {qty}")
        file.write(f"\nTotal Guest: {total_guest}")
        file.write(f"\nDate: {date}")
        file.write("\n---------------------------------")
        file.write(f"Total price For This Order: {total_price_order}")
        file.write("---------------------------------")


name = input("Customer Name: ")
price = int(input("Food Price: "))
phone_number = int(input("Customer Phone Number: "))
qty = int(input("Quantity: "))
guest = int(input("Total Guest: "))
date = input("Date of the order: ")

to_order(name, price, phone_number, qty, guest, date, "order")

In [1]:
a = 0 
while a<7:
    res  = a*a
    print(a,res)
    a=a+1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

In [3]:
for i in range (1,10,1):
  if i ==7:   # i is called the loop controll variable 
    #break
    continue  
  print(i)

1
2
3
4
5
6
8
9

In [6]:
list_ex = ['abc','abc','cdf','edf']
set_ex= set (list_ex)
back = list (set_ex)
print (list_ex)
print(set_ex)
print(back)
print(type(list_ex))

['abc', 'abc', 'cdf', 'edf']
{'edf', 'cdf', 'abc'}
['edf', 'cdf', 'abc']
<class 'list'>

In [7]:
#create a list names that are random and repeating from user identify the unique items and their count
names =[] 
for i in range (0,10,1):
    name = input ("enter the name")
    name = name.upper()
    names.append(name)
print (name)
unique_names=set(names)
print(unique_names)
for search in unique_names:
    #search =
    count = 0 
    for item in names :
        if search ==item :
            print((found))
    count = count +1
    print(search.count)

In [11]:
my_dict = {
    "name":"Debamala Das Adhikri" ,
    "phone":"8972782676",
    "email": "deba@gmail.com",
}

In [12]:
print(my_dict)

{'name': 'Debamala Das Adhikri', 'phone': '8972782676', 'email': 'deba@gmail.com'}

In [18]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['name', 'phone', 'email'])
name
phone
email

In [22]:
students = {
    "names" :["t","d","e","f"],
    "real_numbers":[1,2,3,4,5],

}
for names in students ["names"]:
    print(names)

t
d
e
f

In [ ]:
class sportMart:
    def __init__(self):
        self.inventory = []
        self.orders = []

    def create_order(self, orderid, itemname, quantity, price, total):
        temp = {
            "orderid": int(orderid),
            "itemname": itemname,
            "quantity": int(quantity),
            "price": float(price),
            "total": float(total)
        }
        self.orders.append(temp)

    def printorders(self):
        for order in self.orders:
            print(order)

    def printinventory(self):
        for item in self.inventory:
            print(item)


trinity = sportMart()
orders_file = open("ORDER.csv", "r")
orders_header = orders_file.readline()
orders_whole = orders_file.readlines()

for order_line in orders_whole:
    temp = order_line.strip().split(",")
    trinity.create_order(*temp)

trinity.printorders()
orders_file.close()